.map-box {
	height: 100%;
	background-color: #DDDDDD;
	overflow: auto;
}
.map-detail {
	z-index: 1;
	position: absolute;
	bottom: 0;
}
.map-detail.hide {
	bottom: -60rem;
}
.map-detail .list-block {
	margin: 0;
}
.text-right .badge {
	font-size: 0.6rem;
    padding: 0.25rem 0.4rem;
}
.icon-float {
	position: fixed;
	right: 0;
	top: 1.8rem;
	z-index: 2;
}
.icon-float > a {
	height: 1.68rem;
	width: 1.68rem;
	line-height: 1.78rem;
	display: block;
	margin-right: 0.75rem;
	margin-bottom: 0.75rem;
	border-radius: 100%;
	text-align: center;
	background-color: #E97E06;
	box-shadow: 0 2px 11px 0 rgba(0,0,0,0.50);
}
.icon-float i {
	font-size: 1.18rem;
	color: #FFFFFF;
}
.history-tag-box {
	margin-top: 3rem;
}
.history-tag {
	margin-top: 0.5rem;
}
.history-tag .badge {
	margin-right: 0.8rem;
	display: inline-block;
	margin-bottom: 0.5rem;
}
.history-tag a.button {
	background: #F7F7F7;
	border-color: #F7F7F7;
	height: 1.75rem;
	line-height: 1.7rem;
	font-size: 0.7rem;
	color: #A3A3A3;
}
.search-tag-box {
    position: fixed;
    z-index: 11;
	top: 2.25rem;
	width: 100%;
	left: 0;
	height: calc(100% - 4.55rem);
	background: #FFFFFF;
    padding: 0 ;
}
.search-tag-box li {
    padding: 0;
    line-height: 1.45rem;
}
.search-tag-box li:active {
	background-color: #F3F3F3;
}
.search-tag-box li a {
	display: block;
	color: #4D4D4D;
    padding: 0.35rem 0.5rem 0.3rem;
}
/**充电桩列表**/
.stations-page .panel-overlay-black {
	z-index: 2001;
}
.stations-page .top-bar {
	position: fixed;
	z-index: 2001;
	height: auto;
}
.stations-page .searchbar {
	box-shadow: none;
    position: relative;
}
.stations-page .searchbar.border-bottom:after {
	background-color: #C7C7C7;
}
.station-list {
	margin-top: 4.3rem;
}
.station-list > ul:before {
    content: none;
}
.station-list > ul + ul {
	margin-top: 0.5rem;
}
.filterbar {
    margin: 0 -0.5rem;
    padding: 0.4rem 0.5rem;
    background: #F7F7F7;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
}
.filterbar .filter {
	font-size: 0;
}
.filterbar a {
	display: inline-block;
	width: 25%;
	font-size: 0.7rem;
	text-align: center;
	line-height: 1.25rem;
	height: 1.3rem;
	color: #4D4D4D;
}
.filter a.active {
	color: #E97E06;
}
.filter a span {
    display: inline-block;
    position: relative;
    padding-right: 0.52rem;
    max-width: 100%;
    height: 100%;
}
.filter a span::after {
    position: absolute;
    content: "";
    top: 0.5rem;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color:  #C7C7C7 transparent transparent transparent ;
    border-width:  0.25rem 0.2rem 0 0.2rem ;
}
.filter a.active span::after {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
    border-color:  #E97E06 transparent transparent transparent ;
}
@media only screen and (max-width: 330px) {
	.filter a span {
	    padding-right: 0.4rem;
	}
	/*.filter a span::after {
	    border-width:  4px 3px 0 3px ;
	}*/
}

.filterbar .options {
	padding: 0.5rem 0 1rem;
	background: #FFFFFF;
	margin: 0.5rem -0.5rem -0.5rem;
	font-size: 0;
}
.filterbar .options a {
	width: 28%;
	margin: .5rem 2.66% 0 ;
	border: 0.025rem solid #EBEBEB;
	border-radius: 0.15rem;
	font-size: 0.65rem;
    line-height: 1.35rem;
    height: 1.4rem;
}
.filterbar .options a:active,
.filterbar .options a.active,
.filterbar .options a:focus {
	border: 0.025rem solid #E97E06;
	color: #E97E06;
}
/**详情页**/
.charging-list span.badge {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
	display: inline-block;
	width: 2.2rem;
	border-radius: 0.2rem;
	font-size: 0.6rem;
    padding: 0.2rem 0;
    text-align: center;
}
.charging-list .list-block .item-inner{
    padding-right: 4rem;
}
.charging-list .item-title {
	font-size: 0.8rem;
	color: #333333;
}
.charging-list .item-subtitle {
	font-size: 0.6rem;
	color: #696969;
	font-weight: 300;
}
.charging-list .list-block.media-list .item-inner,
.charging-list .list-block.media-list .item-media {
    padding-top: 1rem;
    padding-bottom: 0.95rem;
}
.charging-list .item-subtitle span + span {
	padding-left: 1rem;
}
.charging-list .battery {
	width: 1.9rem;
	height: 1.9rem;
	line-height: 1.8rem;
	border-radius: 100%;
	text-align: center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.charging-list .battery i {
	font-size: 1.6rem;
	color: #FFFFFF;
}
.charging-list .list-block .item-content {
    padding-left: 1.5rem;
}
.station-detail .banner {
	text-align: center;
	overflow: hidden;
	background: #D8D8D8;
}
.station-detail .banner img {
	/*width: 100%;*/
	height: 100%;
}
.swiper-container {
    width: 100%;
}  